body {
  margin: 0;
}

.mountains-of-christmas-regular {
  font-family: "Mountains of Christmas", serif;
  font-weight: 400;
  font-style: normal;
}

.mountains-of-christmas-bold {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
}

/* .pacifico {
  font-family: "Pacifico", cursive;
    font-weight: 400;
  font-style: normal;
} */

h1 {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  color: crimson;
  font-size: 5rem;
}
